{% extends "_base.html" %}

{% block content %}
    <div class="badge-border" style="border-top: solid 4px #36baff;border-left: solid 2px #36baff;border-right: solid 2px #36baff;border-bottom: solid 2px #36baff;height: 491px;">
        <div class="row col-xs-12">
            <div class="col-xs-4">
                <img src="static/img/badge.png"/>
            </div>
            <div class="col-xs-8" style=" padding: 44px 0px; font-size: 36px; font-weight: bold; color: #36baff; ">
                CERTIFICATE<br/>
                ACHIVEMENT
            </div>
        </div>
        <div class="row col-xs-12"
             style="color: #b4b4b4;margin: 25px 0px;padding: 0px 27px;font-size: 15px;font-weight: bold;">
            This is to certify that
        </div>
        <div class="row" style="font-size: 24px; font-weight: bold; padding: 0px 44px;">
            YOU
        </div>
        <div class="row col-xs-12"
             style="color: #b4b4b4;margin: 25px 0px;padding: 0px 27px;font-size: 15px;font-weight: bold;">
            successfully completed and received a passing grade in
        </div>
        <div class="row" style="font-size: 16px;font-weight: bold;color: #03A9F4;padding: 0px 44px;">
            PYTHON NINJA
        </div>
        <div class="row col-xs-12"
             style="color: #b4b4b4;margin: 25px 0px;padding: 0px 27px;font-size: 15px;font-weight: bold;">
            a challenge series offer by magizbox.
        </div>
    </div>
{% endblock %}
