{% extends "_base.html" %}

{% block content %}

  <div class="site-wrapper">
    <link rel="stylesheet" href="static/index/style.css">
    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">Python Challenge</h1>
          <p class="lead">Basic python challenges to guide you to python world.</p>
          <p class="lead">
            <a href="/levels/1" class="btn btn-lg btn-default">Challenge Accepted!</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Created by <a href="http://magizbox.com">Magizbox</a></p>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}