{% extends "_base.html" %}

{% block content %}
  <h1>Hello World</h1>
  <b>Task</b><br/>
  Print sum of two numbers
  <br/><br/>
  <style type="text/css" media="screen">
    #editor {
      width: 100%;
      margin: 0px auto;
      height: 300px;
    }
  </style>

  <div class="text-center">
    <div id="editor"># your code here
print "Hello World 2."</div>
    <br/>
    <div class="text-right">
      <button id="submit-code" class="btn btn-info"><b>Submit Code</b></button>
    </div>
    <br/>
    <div id="error" class="panel panel-danger hidden" style="font-size: 30px; color: #ec3956; margin: 0px 0px r0px 0px; padding: 20px;">
      Wrong Answer
    </div>
    <div id="success" class="panel panel-success hidden" style="padding: 10px; color: #5baf14">
      <div style="font-size: 30px; margin: 0px 0px 10px 0px;">Congratulation</div><br/>
      <span style="font-size: 16px;">
      You solved this challenge.
      </span>
      <div class="text-right">
        <a class="btn btn-success" href="/level3" style="padding: 4px 10px; font-weight: bold">Next Challenge</a>
      </div>
    </div>
    <div id="graduation" class="panel panel-success hidden" style="padding: 10px; color: #5baf14">
      <div style="font-size: 30px; margin: 0px 0px 10px 0px;">Congratulation!</div><br/>
      <span style="font-size: 16px;">
      Now you become a <b>Python Ninja</b>.</span>
      <br/><br/>
      <a class="btn btn-danger" href="/badge" style="padding: 4px 10px; font-weight: bold">Get your badge &rarr;</a>
    </div>
    <br/>
  </div>
  <script src="static/components/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

  <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
    function init() {
      $("#error").addClass("hidden");
      $("#success").addClass("hidden");
      $("#graduation").addClass("hidden");
    }
    function show_error(error) {
      $("#error").text(error);
      $("#error").removeClass("hidden");
    }

    function show_success() {
      $("#success").removeClass("hidden");
    }

    function show_graduation() {
      $("#graduation").removeClass("hidden");
    }
    $("#submit-code").click(function () {
      init();
      var code = editor.getValue();
      var data = {
        "code": code,
        "problem": "level2"
      };
      $.ajax({
        type: "POST",
        url: CONFIGURATION.SERVER + "/submit",
        data: JSON.stringify(data),
        contentType: 'application/json'
      }).done(function (result) {
        if (result.error) {
          show_error(result.error);
        }
        if (result.success){
          show_success();
        }
        if (result.graduation){
          show_graduation();
        }
        console.log(result)
      }).fail(function () {
        show_error("CAN'T SUBMMIT SOLUTION");
      });
    })
  </script>

{% endblock %}

