{% extends "level.html" %}

{% block level_title %}
    <h1>Data Types</h1>
{% endblock %}

{% block level_objective %}
    <p><b>Objective</b></p>
    <p>Today, we're discussing data types. Check out the Tutorial tab for learning materials and an instructional
        video!</p>
{% endblock %}

{% block level_task %}
    <p><b>Task</b></p>
    <p>Complete the code in the editor below. The variables i, d, and s are already declared and initialized for you. You must:</p>
    <ol>
        <li> Declare variables: one of type int, one of type double, and one of type String.</li>
        <li> Read lines of input from stdin (according to the sequence given in the Input Format section below) and
            initialize your 3 variables.
        </li>
        <li>
            Use <code>+</code> the operator to perform the following operations:
            <ol>
                <li>Print the sum of plus your int variable on a new line.</li>
                <li>Print the sum of  plus your double variable to a scale of one decimal place on a new line.</li>
                <li>Concatenate  with the string you read as input and print the result on a new line.</li>
            </ol>
        </li>
    </ol>
{% endblock %}
